{
  "mapBathymetry": "true",
  "mapPlantShadows": "true",
  "mapPlants": "true",
  "mapBlendWater": "true",
  "renderDistanceCaveMax": "32",
  "renderDistanceSurfaceMax": "32",
  "renderDelay": "10",
  "maxAnimalsData": "128",
  "maxMobsData": "128",
  "maxPlayersData": "128",
  "maxVillagersData": "128",
  "optionsManagerViewed": "5.7.1",
  "splashViewed": "5.7.1"
}
